@font-face {
   font-family: '微软正黑体';
   font-display: swap;
   src: url('file:///C:/Users/user/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-24_084420/fonts/%E5%BE%AE%E8%BD%AF%E6%AD%A3%E9%BB%91%E4%BD%93/font.ttf');
}
